<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/add-product">Add Product</a>
        </li>

        <% if(! isLoggedIn ) {%>
        <li>
            <a href="/sign-up">Sign up</a>
        </li>
        <li>
            <a href="/login">Log in</a>
        </li>
        <% } %> <% if( isLoggedIn ) {%>
        <li>
            <a href="/log-out">Log out</a>
        </li>
        <% }%>
    </ul>
</nav>
